*{
    margin: 0;
}
body{
    background: #582707;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    display: flex;
    height: 70vh;
    width: 70vw;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.game-board{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 15px;
    height: 50vh;
    width: 50vw;
}
.box{
    border: none;
    box-shadow: 0 10 10 rgba(0, 0, 0, 0.9);
    border-radius: 10px;
    cursor: pointer;
    font-size: 8vmin;
    background: #FFB20F;
    color: #FF4B3E;
}