*{
    margin: 0;
}
body{
    background: #582707;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 80vh;
    min-width: 70vw;
}
.game-board{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 15px;
    min-height: 50vh;
    min-width: 50vw;
}
.box{
    border: none;
    box-shadow: 0 10 10 rgba(0, 0, 0, 0.9);
    border-radius: 10px;
    cursor: pointer;
    font-size: 8vmin;
    background: #FFB20F;
    color: #FF4B3E;
}
h1{
    font-size: 52px;
    color: #FF4B3E;
    margin-bottom: 20px;
}
#reset{
    border: none;
    box-shadow: 0 10 10 rgba(0, 0, 0, 0.9);
    border-radius: 10px;
    cursor: pointer;
    font-size: 20px;
    background: #FF4B3E;
    color: #FFE548;
    padding: 20px 40px;
    margin-top: 40px;
}
.hide{
    display: none;
}
.scoreboard {
    margin-top: 20px;
    font-size: 24px;
    color: #FFE548;
    display: flex;
    gap: 40px;
}
#winnerDisplay h2 {
    color: #FFE548;
    margin-top: 20px;
    font-size: 36px;
}
